.chat-container {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 3fr;
    gap: 20px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height: 100%;
  }
  
  .aside {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .main {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  