.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1b0000;
  color: #fff;
  padding: 10px 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.buttons {
  display: flex;
  align-items: center;
}

.btn-nav {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  border: none;
  color: #fff;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
  transition: color 0.3s;
}

.btn-nav:hover {
  background-color: rgb(255, 156, 156);
}
